.accordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem auto;
    background-color: #d9dbdd;
    color: #444;
    padding: 18px;
    width: 60%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 15px;
    
  }
  .change-value {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .change-value button{
    padding: 0.5rem 2rem;
    background: rgb(40, 139, 224);
    color: white;
      border-radius: 20px;
    border-width: none;
    cursor: pointer;
    font-size: medium;
    border-width: 0px;
    box-shadow: 0 7px 7px rgba(0,0,0,0.5);
  }
  
  
  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    cursor: pointer;
    background-color: #dee0e2;
    font-size:medium;
    height: 50px;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
      border-width: 0px;
      box-shadow: 0 10px 10px rgba(0,0,0,0.5);
  }
  
  .accordion-title div{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
  }
  
  .accordion-title:hover {
    background-color: #b3b0b0;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  }
  
  .accordion-title,
  .accordion-content {
    padding: 1rem;
    margin: 0.2rem;
  
  }
  
  .accordion-content {
    background: linear-gradient(33deg, #9dc7e7 0%, #fff 90%);
    border: 1px solid black;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    background-image: url('../assets/1.jpg');
    color: black;
    background-position: cover;
  }
  
  .first-line{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .first-line *{
    border-radius: 10px;
      border-width: 0px;
      box-shadow: 0 5px 5px rgba(0,0,0,0.5);
      margin:1em ;
  }
  
  .first-line p {
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
  }
  
  .first-line-second p{
    font-size: small;
    margin-top: 2%;
    font-size: medium;
  }
  
  .second-line{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    border-top: 0.5px solid black;
   
  }
  .second-line *{
    padding: 2%;
    border-radius: 5px;
    font-weight: bolder;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  }
  
  .third-line{
    border-top: 0.5px solid black;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    margin: 1em;
  }
  
  .third-line p{
    padding: 2%;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  }
  .third-line table {
    font-size: medium;
  }
  
  td, th {
    width: 120px;
  }
  
  .fourth-line{
    border-top: 0.5px solid black;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
  }
  .fourth-line p{
    font-size: small;
    padding-left:20px;
    font-size: medium;
    font-weight: bold;
  }