.header {
    display: block;
    width: 100%;
    padding: 2rem 2rem  ;
    margin: 0rem;
    border-radius: 10px;
    text-align: center;
    text-shadow: -10px 6px 15px #9a9b9c;
    text-transform: capitalize;
    background-color: #818181;
  }
  
  .input-drop-down-div{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    width: 75%;
  }
  
  .input-drop-down-div select{
    margin-left: 1rem;
    padding: 1%;
    border-width: none;
    cursor: pointer;
    font-size: medium;
  }
  
  
  .input-city-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5rem;
  
    
  }
  .input-city-div input{
    border-width: none;
    border: none;
    border-bottom: 2px solid black;
    font-size: medium;
    background: transparent;
  }
  
  .input-city-div button{
    padding: 0.5rem;
    margin-left: 0.5rem;
    background: rgb(40, 139, 224);
    color: white;
    width: 100px;
      border-radius: 20px;
    border-width: none;
    cursor: pointer;
    font-size: medium;
    border-width: 0px;
    box-shadow: 0 7px 7px rgba(0,0,0,0.5);
  }
  .input-city-div button:active{
    background-color: #444;
  }
  
  .panel{
    width : 100%;
    
    background-color: white;
    overflow: hidden;
  }