
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  margin: 1rem 5rem 1rem 5rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Anton', Arial, sans-serif;
  font-size: 20px;
  background-color: #ced0d3;
}







/* .month{
  display: flex;
  flex-direction: column;
}

.container{
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content:flex-start;
}

.card{
  margin: 2px;
}

.card:nth-child(6n) {
  page-break-after: always; 
  break-after: always; 
}

.card-body{
  display: flex;
  flex-direction: column;
  font-size: x-small;
}  */








